@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  width: 100%;
}

@layer base {

  button,
  a,
  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  select,
  summary,
  [role="button"],
  .cursor-pointer {
    cursor: pointer !important;
  }
}

@layer utilities {
  .font-handwriting {
    font-family: 'Brush Script MT', cursive;
  }

  /* Hide scrollbar while keeping scroll functionality */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
  }
}